absl-py==0.12.0
aiofiles==0.6.0
aiohttp==3.6.3
aiomysql==0.0.22
aiopg==1.3.3
aiosqlite==0.17.0
amqp==5.0.9
appdirs==1.4.4
asgiref==3.4.1
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
asyncio-extras==1.3.2
asyncpraw==7.5.0
asyncprawcore==2.3.0
attrs==20.3.0
backports.entry-points-selectable==1.1.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
billiard==3.6.4.0
cachetools==4.2.1
certifi==2020.11.8
cffi==1.14.3
cfscrape==2.1.1
chardet==3.0.4
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudpickle==1.6.0
cloudscraper==1.2.56
colorama==0.4.4
coloredlogs==14.3
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.1
discord==1.0.1
discord-components==2.1.2
discord-py-interactions==3.0.2
discord.py==1.5.1
discordSuperUtils==0.3.0
distlib==0.3.4
Django==3.2.10
django-cors-headers==3.10.1
django-templated-mail==1.1.1
dm-tree==0.1.5
docopt==0.6.2
drf-nested-routers==0.93.4
drf-writable-nested==0.6.3
EasyProcess==0.3
filelock==3.4.0
flake8==3.9.2
flatbuffers==1.12
fs==2.4.13
future==0.18.2
futures==3.1.1
gast==0.3.3
gin-config==0.4.0
google-auth==1.28.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googletrans==4.0.0rc1
goslate==1.5.1
grpcio==1.32.0
gunicorn==20.1.0
gym==0.18.0
h11==0.9.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.11.21
httpcore==0.9.1
httpx==0.13.3
humanfriendly==9.1
hyperframe==5.2.0
icalendar==4.0.9
idna==2.10
imageio==2.9.0
instalooter==2.4.4
isort==5.6.4
itypes==1.2.0
Jinja2==3.0.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
Markdown==3.3.4
MarkupSafe==2.0.1

mccabe==0.6.1
motor==2.5.1
MouseInfo==0.1.3
multidict==4.7.6
networkx==2.5.1
numpy==1.19.5
oauthlib==3.1.0
platformdirs==2.4.0
praw==7.5.0
prawcore==2.3.0
prompt-toolkit==3.0.24
protobuf==3.15.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.9.8
pyenchant==3.2.0
pyflakes==2.3.1
pygame==2.0.1
PyGetWindow==0.0.9
pyglet==1.5.0
PyJWT==2.3.0
pylint==2.6.0
pymongo==3.12.3
PyMsgBox==1.0.9
PyMySQL==0.9.3
PyNaCl==1.3.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.1
pyreadline==2.1
PyRect==0.1.4
pythonnet==2.5.1
PyTweening==1.0.3
pytz==2021.3
PyVirtualDisplay==2.1
PyWavelets==1.1.1
pywebview==3.4
requests==2.25.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rsa==4.7.2
scapy==2.4.4
social-auth-core==4.1.0
soupsieve==2.1
spotipy==2.16.1
sqlparse==0.4.2
tenacity==6.3.1
termcolor==1.1.0
tf-agents==0.7.1
toml==0.10.1
tqdm==4.60.0
typing-extensions==3.7.4.3
tzdata==2021.5
update-checker==0.18.0
uritemplate==4.1.1
urllib3==1.26.2
verboselogs==1.7
vine==5.0.0
virtualenv==20.10.0
websocket-client==1.2.3
websockets==9.0.2
Werkzeug==1.0.1
wrapt==1.12.1
